*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0E141B;
}
nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-bottom: 0.5px solid  rgba(59, 234, 193, 0.386);
    color: white;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0 20px;  
}
nav a:hover{
    color: rgb(26, 218, 218);
    font-size: 17px;
}
.left{
    font-size: 1.75rem;
}
.logo{
    height: 65px;
    width: 65px;
    padding-right: 550px;
}
.logo img{
    width: 100%;
}

                                         /* first section start */
.firstSection{
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.firstSection > div{
    width: 40%;
}                                      
.left-fs{ 
    font-size: 20px;
    /* border: 2px solid white; */
    margin: 150px 0 0 50px;
}    
.color{
    color: aqua;
}
.left-fs div{
    font-size: 40px;
}                              
.right-fs{     
    margin-top: 100px;
    /* border: 2px solid white;  */
}
.right-fs div{
    display: flex;
    justify-content: center;
    
}
.right-fs img{
    width: 80%;
}
.right-fs img:hover{
    opacity: 0.5;
    border: 3px solid white;
    cursor: pointer;
}
#element{
    color: aqua;
}

/* button */
.left-fs .button{
margin-top: 20px;
}
.left-fs .btn{
    padding: 0.60rem;
    margin-right: 40px;
    border-radius: 7px;
    border: none;
    background-color: rgba(255, 255, 255, 0.947);
    font-size: 16px;
}
.left-fs .btn:hover{ 
    opacity: 0.75;
    font-size: 17px;
    border: 1px solid aqua;
}
                                             /* skills added */
.secondSection{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid wheat; */
    margin-top: 20px;
    height: 200px;
}
.skills-line{
    background-color: rgb(234, 234, 154);
    width: 40px;
    padding: 3px;
    margin-left: 20px
}
.skills{
    margin-top: 50px;
    
}
.skills a {
    background-color: rgb(234, 234, 154);
    padding: 5px 10px 5px 10px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
 
.skills a:hover{
    opacity: 0.75;
}
 




footer{
    margin-top: 10px;
 border-top: 0.5px solid  rgba(250, 253, 253, 0.386);
  height: 100px;
}
.copyright{
font-size: 1rem;
text-align: center;
color: white;
display: flex;
justify-content: center;
 margin-top: 40px;
}
 